<header>
    <div>
      <div class="menu icon"></div>
    </div>
    <h1>Dragon Ball A</h1>
  </header>
  <section id="navegacao">
    <nav>
      <a href="/">Home</a>
      <a href="/episodios">Episódios</a>
      <a href="/filmes">Filmes</a>
      <a href="/quem-seremos">Quem Seremos</a>
    </nav>
    <div>
      <div class="search icon"></div>
      <h2>Pesquisa:</h2>
      <input type="text" placeholder="Busque sua esfera do dragão">
    </div>
  </section>